html {
    font-size: 30px !important;
}
.center {
    text-align: center;
}

.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter {
  opacity: 0;
}

.code-wrapper {
    text-align: left;
    margin-bottom: 40px;
}
