{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    {% endblock %}

    {% block extra_styles %}
    {% endblock %}

    <title>
    {% block title %}Code for better - Find your dream job{% endblock %}
    </title>
    {% if not debug %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101956048-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-101956048-2');
    </script>
    {% endif %}
  </head>
  <body>
    <header>
    </header>
    
  {% block content %}
  {% endblock %}
  
  {% block scripts %}
  <script src="{% static 'js/vue.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  {% endblock %}

  {% block extra_scripts %}
  {% endblock %}
  </body>
  
  {% block footer %}
  <footer>
  <section class="section">
    <div class="container">
      <div class="columns">
        <span class="column is-4">About Us</span>
        <span class="column is-4">About Us</span>
        <span class="column is-4">About Us</span>
      </div> <!-- end columns -->
    </div> <!-- end container -->
  </section> <!-- end section -->
  </footer>
  {% endblock %}
</html>
