{% extends 'base.html' %}
  {% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-five-fifths center" id="coding-title">
          <h1 class="title">
            {{ title }}
          </h1>
          <span>
            <p class="subtitle">
              {{ subtitle }}
            </p>
            {% for rule in rules %}
              <p>{{ rule }}</p>
            {% endfor %}
          </span>
          <a href="./1/" class="button is-link is-focused">{{ start }}</a>
        </div> <!-- 4-5 -->
      </div> <!-- columns -->
    </div> <!-- end container -->
  </section>
  {% endblock %}
