{% extends 'base.html' %}
  {% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-five-fifths center" id="coding-title">
          <h1 class="title">
            <p>{{ problem.des }}</p>
          </h1>
          <div class="code-wrapper">
            {{ code_in_html|safe }}
          </div> <!-- end code-wrapper -->
        </div> <!-- column is-five-fifths center -->
      </div> <!-- columns -->
    </div> <!-- end container -->
  </section>
  {% endblock %}
