{% extends 'base.html' %}
  {% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-five-fifths center" id="coding-title">
          <h1 class="title">
            [[ coding_title ]]
          </h1>
          <transition name="fade">
            <span v-if="seen">
              <p class="subtitle">
                Ready to test your<strong> Coding Skills</strong>?
              </p>
              <a v-on:click="second" class="button is-primary">Start Test</a>
            </span>
          </transition> <!-- end transition -->
          <span v-if="!seen">
            <skills-item
              v-for="skill in skills"
              v-bind:key="skill.id"
              v-bind:name="skill.name"
             ></skills-item>
          </span>
        </div> <!-- 4-5 -->
      </div> <!-- columns -->
    </div> <!-- end container -->
  </section>
  {% endblock %}
