{% extends 'base.html' %}
  {% block content %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-five-fifths center">
          <h1 class="title">
            Coding is more than algorithms.
          </h1>
          <p class="subtitle">
            Be ready to test your<strong> Coding Skills</strong>?
          </p>
          <a class="button is-primary">Start Test</a>
        </div> <!-- 4-5 -->
      </div> <!-- columns -->
    </div> <!-- end container -->
  </section>
  {% endblock %}
